<div
  id="modal"
  tabindex="-1"
  aria-hidden="true"
  class="overflow-y-auto overflow-x-hidden fixed flex top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full bg-gray-500 bg-opacity-50"
>
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
    >
      <!-- Modal header -->
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          {{if eq .State "Create"}} Add Expense {{else}} Update Expense {{end}}
        </h3>
        <button
          type="button"
          id="cancelButton"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="addExpenseModal"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      {{ template "expense-form.html" .}}
    </div>
  </div>
</div>
<script>
  var cancelButton = document.getElementById('cancelButton');
  var modal = document.getElementById('addExpenseModal');

  function handleError(event) {
    const error = JSON.parse(event.detail.xhr.response);
    new Toast({
      message: error.error,
      type: 'danger',
    });
  }

  function handleSuccess(event) {
    event.preventDefault();
    if (
      event.detail.xhr &&
      event.detail.xhr.status === 201 &&
      event.target.id === 'add-expense-form'
    ) {
      if (cancelButton) {
        new Toast({
          message: 'Expense added successfully',
          type: 'success',
        });
        modal && (modal.innerHTML = '');
      }
    }
  }

  document.addEventListener('htmx:responseError', handleError);
  document.addEventListener('htmx:afterRequest', handleSuccess);
  if (cancelButton) {
    cancelButton.addEventListener('click', function () {
      modal && (modal.innerHTML = '');
    });
  }
</script>
