{{define "base" }}
<!DOCTYPE html>
<html lang="en">
  {{template "header" .}}

  <body
    class="bg-white text-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800"
  >
    <div id="#dashboard">
      <main>
        {{block "navigation" . }} {{end}}
        <div class="md:container md:mx-auto">{{block "content" .}} {{end}}</div>
      </main>

      {{template "footer" .}}
    </div>
    <script src="../static/js/toast.min.js"></script>
    {{block "js" .}} {{end}}
  </body>
</html>

{{end}}
