{{template "base" .}} {{ define "headerLinks"}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
{{ end }} {{ define "navigation" }} {{template "nav"}} {{end}} {{define
"content"}}
<!-- Main Content -->
<div class="container mx-auto mt-8" id="#dashboard-home" id="#dashboard">
  <div class="flex justify-center m-5">
    <button
      id="defaultModalButton"
      class="text-white border border-white bg-gray-800 inline-flex items-center hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      type="button"
      hx-target="#addExpenseModal"
      hx-get="/dashboard/add-expense"
      hx-swap="innerHTML"
    >
      <svg
        class="mr-1 -ml-1 w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
      Add an Expense
    </button>
  </div>

  <div id="expense-stats" hx-target="#expense-stats" hx-swap="outerHTML">
    {{ template "expense-stats-grid.html" . }}
  </div>

  <!-- Modal -->
  <div id="addExpenseModal"></div>
</div>

{{end}} {{define "js"}}

<script src="../static/js/toast.min.js"></script>


{{ end }}
