{{template "base" .}} {{ define "navigation" }} {{template "nav"}} {{end}}
{{define "content"}}
<!-- Main Content -->
<div class="container mx-auto mt-8" id="#dashboard-home">
  <!-- Grid Layout -->
  <!-- Modal toggle -->
  <div class="flex justify-center m-5">
    <button
      id="defaultModalButton"
      data-modal-target="addExpenseModal"
      data-modal-toggle="addExpenseModal"
      class="block text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      type="button"
      hx-swap="innerHTML"
      hx-target="#addExpenseModal"
      hx-get="/dashboard/add-expense"
    >
      Add an Expense
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- Expense Summary -->
    <div class="bg-white p-6 rounded-md shadow-md text-center">
      <h2 class="text-lg font-semibold mb-4 text-blue-500">Expense Summary</h2>
      <p class="text-3xl font-bold text-gray-800">$500</p>
      <p class="text-sm text-gray-500">Budget Remaining: $300</p>
    </div>

    <!-- Expense List -->
    <div class="bg-white p-6 rounded-md shadow-md">
      <h2 class="text-lg font-semibold mb-4 text-blue-500">Expense List</h2>
      <ul>
        <li class="flex justify-between items-center mb-2">
          <span class="text-gray-700">Shopping</span>
          <span class="text-red-500">-$50</span>
        </li>
        <li class="flex justify-between items-center mb-2">
          <span class="text-gray-700">Utilities</span>
          <span class="text-red-500">-$100</span>
        </li>
        <!-- Add more expense items as needed -->
      </ul>
    </div>

    <!-- Budget Chart -->
    <div class="bg-white p-6 rounded-md shadow-md">
      <h2 class="text-lg font-semibold mb-4 text-blue-500">Budget Chart</h2>
      <div class="bg-blue-200 h-24 rounded-md"></div>
      <!-- You can use a chart library here for a more dynamic chart -->
    </div>
  </div>

  <!-- Modal -->
  <div id="addExpenseModal">
    <!-- Modal content will be inserted here -->
  </div>
</div>

{{end}}
