<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 bg-gray-80">
  <!-- Expense Summary -->
  <div
    class="p-6 rounded-md shadow-md text-center text-white bg-gray-800 border"
  >
    <h2 class="text-lg font-semibold mb-4">Expense Summary</h2>
    <p class="text-3xl font-bold">${{.TotalExpenses}}</p>
    <p class="text-sm">Expenses this month: ${{.ExpenseForAMonth}}</p>
    <p class="text-sm">
      You spent <span class="text-red-500">${{.MaxAmount}}</span> on {{
      .MaxCategory}} (most)
    </p>
  </div>

  <!-- Expense List -->
  <div
    class="p-6 rounded-md shadow-md text-center text-white bg-gray-800 border"
  >
    <h2 class="text-lg font-semibold mb-4">Expense List</h2>
    <ul>
      {{ range .Expenses }}

      <li class="flex justify-between items-center mb-2">
        <a href="/dashboard/{{.ID}}" class="text-white">{{.Name}}</a>
        <span class="text-red-500">-${{ .Amount }}</span>
      </li>
      {{end}}
    </ul>
    <a href="/dashboard/expenses" class="text-blue-500">View all expenses</a>
  </div>

  <!-- Budget Chart -->
  <div
    class="p-6 rounded-md shadow-md text-center text-white bg-gray-800 border"
  >
    <h2 class="text-lg font-semibold mb-4">Budget Chart</h2>
    <div
      hx-get="/dashboard/expense-graph"
      hx-trigger="load"
      hx-target="#expenseChart"
      hx-swap="outerHTML"
      class="flex justify-center"
    />
    <img
      alt="loading..."
      id="expenseChart"
      src="../static/img/Spinner.gif"
      class="htmx-indicator"
    />
  </div>
</div>


