<div class="grid grid-cols-2 gap-4">
  <div>
    <p class="text-white font-thin">Name:</p>
    <p class="font-semibold">{{.Expense.Name}}</p>
  </div>
  <div>
    <p class="text-white font-thin">Date:</p>
    <p class="font-semibold">{{.Expense.ExpenseDate}}</p>
  </div>
  <div>
    <p class="text-white font-thin">Category:</p>
    <p class="font-semibold">{{.Category.Name}}</p>
  </div>
  <div>
    <p class="text-white font-thin">Amount:</p>
    <p class="font-semibold">${{.Expense.Amount}}</p>
  </div>
  <div>
    <p class="text-white font-thin">Description:</p>
    <p class="font-semibold">{{.Expense.Description}}</p>
  </div>
</div>
<div class="mt-6">
  <button
    hx-get="/dashboard/edit-expense/{{.Expense.ID}}"
    hx-target="#addExpenseModal"
    hx-swap="innerHTML"
    id="detail-edit-btn"
    class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-gray-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
  >
    Edit
  </button>
  <button
    hx-delete="/dashboard/delete-expense/{{.Expense.ID}}"
    hx-confirm="Are you sure you want to delete {{.Expense.Name}}?"
    id="detail-delete-btn"
    class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline"
  >
    Delete
  </button>
</div>
