<form
  hx-post="{{.Link}}"
  hx-trigger="submit"
  hx-disabled-elt="#add-expense-button"
  hx-swap="innerHTML"
  id="add-expense-form"
  hx-headers="{{.Header}}"
  hx-target="{{.Target}}"
>
  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div>
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Name</label
      >
      <input
        type="text"
        name="name"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        placeholder="Type expense name"
        required=""
        value="{{.Expense.Name}}"
      />
    </div>

    <div>
      <label
        for="amount"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Amount</label
      >
      <input
        type="number"
        name="amount"
        id="amount"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        placeholder="$2999"
        required="{{.Expense.Amount}}"
      />
    </div>
    <div>
      <label
        for="category"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Category</label
      >
      <select
        id="category"
        name="category_id"
        required=""
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
      >
        <option selected="{{.Category.ID}}">Select category</option>
        {{ range .Categories }}
        <option value="{{.ID}}">{{.Name}}</option>
        {{end}}
      </select>
    </div>
    <div>
      <label
        for="date"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Expense Date</label
      >
      <input
        type="date"
        name="expense_date"
        id="date"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        required=""
        value="{{.Expense.Date}}"
      />
    </div>

    <div class="sm:col-span-2">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Description</label
      >
      <textarea
        id="description"
        rows="4"
        value="{{.Expense.Description}}"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
        placeholder="Write product description here"
      ></textarea>
    </div>
  </div>
  <button
    type="submit"
    id="add-expense-button"
    class="text-white border border-white bg-gray-800 inline-flex items-center hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
  >
    <svg
      class="mr-1 -ml-1 w-6 h-6"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
    Add new expense
  </button>
</form>
