<tr id="datarow-{{.ID}}" class="border-b dark:border-neutral-500">
  <td class="whitespace-nowrap px-6 py-4">{{.Name}}</td>
  <td class="whitespace-nowrap px-6 py-4">{{.Amount}}</td>
  <td class="whitespace-nowrap px-6 py-4">{{.CategoryName}}</td>
  <td class="whitespace-nowrap px-6 py-4">{{.ExpenseDate}}</td>
  <td class="whitespace-nowrap px-1 py-1">
    <button
      hx-get="/dashboard/edit-expense/{{.ID}}"
      hx-target="#addExpenseModal"
      hx-swap="innerHTML"
      hx-indicator="#processing"
      class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-gray-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
    >
      Edit
    </button>
    <button
      hx-delete="/dashboard/delete-expense/{{.ID}}"
      hx-confirm="Are you sure you want to delete {{.Name}}?"
      hx-indicator="#processing"
      hx-target="#expenses"
      hx-swap="outerHTML swap:1s"
      hx-headers='{"X-CSRF-Token": {{$.CSRF}} }'
      class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline"
    >
      Delete
    </button>
  </td>
  <td class="whitespace-nowrap px-1 py-1">
    <a href="/dashboard/expenses/{{.ID}}">View</a>
  </td>
</tr>
